<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
goto my page!nice.this is a new page
<script src="../js/index.js" charset="utf-8"></script>
</body>
</html>