<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<!--現在時刻<span id="result"></span>-->
<!--<ul>-->
    <!--<li><a href="http://www.wings.msn.to/" class="my">-->
            <!--サーバサイド技術の学び舎 - WINGS</a></li>-->
    <!--<li><a href="http://www.web-deli.com/" class="my">WebDeli</a></li>-->
    <!--<li><a href="http://www.buildinsider.net/web/jqueryref" id="book">-->
            <!--jQuery逆引きリファレンス</a></li>-->
<!--</ul>-->
<!--&lt;!&ndash;<ul id="list">&ndash;&gt;-->
    <!--&lt;!&ndash;<li><a href="http://www.wings.msn.to/" class="my">&ndash;&gt;-->
            <!--&lt;!&ndash;サーバサイド技術の学び舎 - WINGS</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li><a href="http://www.web-deli.com/" class="my2">&ndash;&gt;-->
            <!--&lt;!&ndash;WebDeli</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li><a href="http://www.buildinsider.net/web/jqueryref" class="external">&ndash;&gt;-->
            <!--&lt;!&ndash;jQuery逆引きリファレンス</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li><a href="http://www.buildinsider.net/web/angularjstips" class="external">&ndash;&gt;-->
            <!--&lt;!&ndash;AngularJS TIPS</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;</ul>&ndash;&gt;-->
<!--<form>-->
    <!--<label for="time">時刻:</label>-->
    <!--<input id="time" name="time" type="text" size="20">-->
<!--</form>-->
<!--<form>-->
    <!--<label for="food">一番好きな食べ物は？：</label>-->
    <!--<select id="food">-->
        <!--<option value="ラーメン">ラーメン</option>-->
        <!--<option value="餃子">餃子</option>-->
        <!--<option value="焼き肉">焼き肉</option>-->
    <!--</select>-->
    <!--<input type="submit" value="送信" />-->
<!--</form>-->
<!--<input id="btn" type="button" value="ダイアログ表示"/>-->
<!--<img id="logo" src="http://www.wings.msn.to/image/wings.jpg"-->
     <!--height="67" width="215" border="0"-->
     <!--alt="WINGS（Www INtegrated Guide on Server-architecture）" />-->
<!--<div id="result_text">-->
    <!--<p style="color: Red;">設定されていません！</p>-->
<!--</div>-->
<!--<div id="result_html">-->
    <!--<p style="color: Red;">設定されていません！</p>-->
<!--</div>-->


<!--<ul id="list">-->
    <!--<li><a href="http://www.wings.msn.to/">-->
            <!--サーバサイド技術の学び舎 - WINGS</a></li>-->
    <!--<li><a href="http://www.web-deli.com/">-->
            <!--WebDeli</a></li>-->
    <!--<li><a href="http://www.buildinsider.net/web/jqueryref">-->
            <!--jQuery逆引きリファレンス</a></li>-->
<!--</ul>-->
<!--<br>-->
<!--<br>-->
<!--<form id="input">-->
    <!--<label for="name">名前:</label>-->
    <!--<input id="name" name="name" type="text" size="30" />-->
    <!--<input id="btn" type="button" value="送信">-->
<!--</form>-->
<!--<div id="result"></div>-->

<!--<form id="checkbox">-->
    <!--<div>-->
        <!--好きな食べ物？:-->
        <!--<label><input type="checkbox" name="food" value="ラーメン"/>ラーメン</label>-->
        <!--<label><input type="checkbox" name="food" value="餃子"/>餃子</label>-->
        <!--<label><input type="checkbox" name="food" value="焼肉"/>焼肉</label>-->
        <!--<input id="btn" type="button" value="送信"/>-->
    <!--</div>-->
<!--</form>-->
<!--<form id="radio">-->
    <!--<div>-->
        <!--好きな食べ物？:-->
        <!--<label><input type="radio" name="food" value="ラーメン"/>ラーメン</label>-->
        <!--<label><input type="radio" name="food" value="餃子"/>餃子</label>-->
        <!--<label><input type="radio" name="food" value="焼肉"/>焼肉</label>-->
        <!--<input id="btn" type="button" value="送信"/>-->
    <!--</div>-->
<!--</form>-->

<!--<br>-->
<!--<form id="listbox">-->
    <!--<div>-->
        <!--<label for="food">好きな食べ物は？</label>-->
        <!--<select id="food" multiple="multiple">-->
            <!--<option value="ラーメン">ラーメン</option>-->
            <!--<option value="餃子">餃子</option>-->
            <!--<option value="焼肉">焼肉</option>-->
        <!--</select>-->
        <!--<input id="btn" type="button" value="submit" />-->
    <!--</div>-->

<!--</form>-->
<!--<form>-->
    <!--<lable for="file">ファイル</lable>-->
    <!--<input id='file' type="file" name="file" multiple="multiple"/>-->
<!--</form>-->
<!--<form>-->
    <!--<label for="file01">ファイル:</label>-->
    <!--<input id="file01" name="file01" type="file"/>-->
<!--</form>-->
<!--<hr />-->
<!--<img id="result02" />-->


<!--<pre id="result01"></pre>-->

<!--<form>-->
    <!--<div><label for="name">サイト名</label><br />-->
        <!--<input id="name" name="name" type="text" size="30" />-->
    <!--</div>-->
    <!--<div><label for="url">URL:</label><br />-->
        <!--<input id="url" name="url" type="url" size="50" />-->
    <!--</div>-->
    <!--<div>-->
        <!--<input id="btn" type="button" value="追加"/>-->
    <!--</div>-->
<!--</form>-->
<!--<div id="list"></div>-->

<!--<ul id="booklist"></ul>-->

<!--<ul id="bookList">-->
    <!--<li><a href="JavaScript:void(0)" data-isbn="978-4-7981-3547-2">-->
            <!--独習PHP 第3版</a></li>-->
    <!--<li><a href="JavaScript:void(0)" data-isbn="978-4-7741-8030-4">-->
            <!--Javaポケットリファレンス</a></li>-->
    <!--<li><a href="JavaScript:void(0)" data-isbn="978-4-7741-7984-1">-->
            <!--Swiftポケットリファレンス</a></li>-->
    <!--<li><a href="JavaScript:void(0)" data-isbn="978-4-7981-4402-3">-->
            <!--独習ASP.NET 第5版</a></li>-->
    <!--<li><a href="JavaScript:void(0)" data-isbn="978-4-8222-9644-5">-->
            <!--アプリを作ろう! Android入門</a></li>-->
<!--</ul>-->
<!--<input id="del" type="button" value="削除" disabled="disabled" />-->
<!--<div id="pic"></div>-->
<!--<ul id="list03">-->
    <!--<li>独習PHP 第3版</li>-->
    <!--<li>Javaポケットリファレンス</li>-->
    <!--<li>Swiftポケットリファレンス</li>-->
    <!--<li>独習ASP.NET 第5版</li>-->
    <!--<li>アプリを作ろう! Android入門</li>-->
<!--</ul>-->
<!--<ul id="first">-->
    <!--<li>独習PHP 第3版</li>-->
    <!--<li>Javaポケットリファレンス</li>-->
    <!--<li>Swiftポケットリファレンス</li>-->
    <!--<li>独習ASP.NET 第5版</li>-->
    <!--<li>アプリを作ろう! Android入門</li>-->
<!--</ul>-->
<!--<ul id="second"></ul>-->
<!--<div id="elem" class="line">hover change color</div>-->
<button id="btn" value="click">click</button>
<script src="../js/index.js"></script>
</body>

</html>